.conteudo {
    display: flex;
}

:root {
    --cor-primaria: #fafa56;
    --cor-secundaria: #6c6c65;
    --secundaria-ativa: #cccccc;
    --fundo: #f5f5f5;
    --fundo-detalhes: #ececec
}

.conteudo-principal {
    flex-grow: 3;
}