.card-nota {
    background-color: var(--cor-primaria);
    border-radius: 8px;
    box-shadow: 2px 2px 5px #ccc;
    margin: 10px;
    padding: 15px;
    width: 200px;
    word-wrap: break-word;
}