.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* espaço a direita vai para o meio dos elementos */

}

.cabecalhoPrincipal-nav {
    display: flex; /* transforma em flexbox */

}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 55%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;

}

.rodapePrincipal-navMap-list {
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    height: 280px;
    flex-flow:column wrap;
}

.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;

}

.conteudoPrincipal-cursos-link{
    width: 23%;
    margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n){
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1){
    margin-left: 0;
}

.videoSobre .container{
    display: flex;
    justify-content: space-around;
}

.videoSobre-sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 2;
}

.videoSobre-sobre-title {
    margin-bottom: 10px;;
}

.videoSobre-sobre-item{
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .cabecalhoPrincipal-nav {
        flex-direction: column-reverse;
    }

    .cabecalhoPrincipal .container{
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .conteudoPrincipal-cursos-link{
        width: 100%;
    }

    .conteudoPrincipal-cursos {
        flex-direction: column;
    }

    .rodapePrincipal-navMap-list {
        height: auto;
    }

    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
        align-items: center;
    }

    .rodapePrincipal-patrocinadores-list {
        margin: 0;
        width: 100%;
    }
    
    .videoSobre .container{
        flex-direction: column;
        align-items: center;
    }
}