.form-cadastro {
    flex-grow: 2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 12px 40px;
    min-width: 60vh;

}

.form-cadastro_input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.form-cadastro_submit {
    background-color: var(--cor-primaria);
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-cadastro_submit:active {
    background-color: var(--secundaria-ativa);
    color: white;
}